<%= form_for [:admin, @category, @lesson, @word] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :name, t(".word_name"),
      class: "offset-3 col-3 col-form-label" %>
    <div class="offset-3 col-6">
      <%= f.text_field :name, class: "form-control mb-3"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, t(".word_description"),
      class: "offset-3 col-3 col-form-label" %>
    <div class="offset-3 col-6">
      <%= f.text_area :description, class: "form-control mb-3"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :question, t(".word_question"),
      class: "offset-3 col-3 col-form-label" %>
    <div class="offset-3 col-6">
      <%= f.text_field :question, class: "form-control mb-3"  %>
    </div>
  </div>

  <div class="form-group">
    <div class="offset-3 col-6" id="answers">
      <%= f.fields_for :answers do |builder| %>
        <div class="fields">
          <%= render "answer", f: builder %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <div class="offset-3 col-6">
      <%= link_to_add_row(t(".add_answer"), f, :answers, class: "btn btn-primary mb-2") %>
      <%= f.submit yield(:button_text), id: "new-word", class: "btn btn-success btn-register mb-3" %>
    </div>
  </div>
<% end %>
