<%= form_for [:admin, @category, @lesson, @word] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name, t(".word_name"),
      class: "offset-3 col-3 col-form-label" %>
    <div class="offset-3 col-6">
      <%= f.text_field :name, class: "form-control mb-3"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :question, t(".word_question"),
      class: "offset-3 col-3 col-form-label" %>
    <div class="offset-3 col-6">
      <%= f.text_field :question, class: "form-control mb-3"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t(".word_description"),
      class: "offset-3 col-3 col-form-label" %>
    <div class="offset-3 col-6">
      <%= f.text_area :description, class: "form-control mb-3"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="offset-7 col-2">
      <%= f.submit yield(:button_text), class: "btn btn-success btn-register" %>
    </div>
  </div>
<% end %>
