<% provide :title, t(".word_list") %>
<div class="container mt-5 mb-5">
  <div class="text-sm-center jumbotron">
    <h1><%= t".word_list" %></h1>
    <h2>(<%= @lesson.name %>)</h2>
    <%= link_to t(".add_word"), new_admin_category_lesson_word_path, class: "btn btn-primary btn-lg" %>
  </div>
  <div class="input-group mb-3 shadow">
    <input type="text-sm-left" class="form-control" placeholder="<%= t(".search") %>">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success btn-lg"><%= t".go" %></button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-sm-center bg-secondary rounded">
    <h3><%= t".word_groups" %></h3>
      <div class="btn-group dropdown dropright">
        <button type="button" class="btn btn-primary"><%= t".alphabet" %></button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">A-B</a></br>
          <a class="dropdown-item" href="#">C-D</a></br>
          <a class="dropdown-item" href="#">E-F</a></br>
          <a class="dropdown-item" href="#">G-H</a></br>
          <a class="dropdown-item" href="#">I-J</a></br>
          <a class="dropdown-item" href="#">K-L</a></br>
          <a class="dropdown-item" href="#">M-N</a></br>
          <a class="dropdown-item" href="#">O-P</a></br>
          <a class="dropdown-item" href="#">Q-R</a></br>
          <a class="dropdown-item" href="#">S-T</a></br>
          <a class="dropdown-item" href="#">U-V</a></br>
          <a class="dropdown-item" href="#">W-X</a></br>
          <a class="dropdown-item" href="#">Y-Z</a></br>
        </div>
      </div>
    </div>
    <div class="col-8 text-sm-center bg-info rounded">
      <h3><%= t".words" %></h3>
      <%= will_paginate %>
      <div>
        <ol class="list-group text-sm-left mb-3">
          <% @words.each do |word| %>
            <li class="list-group-item list-group-item-action">
              <%= link_to word.name, "#" %>
            </li>
          <% end %>
        </ol>
      </div>
      <%= will_paginate %>
    </div>
  </div>
</div>
