<%= provide :title, t(".add_word") %>
<%= provide :button_text, t(".add") %>
<div class="container margin-header">
  <h1 class="title"><%= t ".add_word" %></h1>
    <div class="row offset-sm-3">
      <div class="nav-item dropdown col-2">
        <a class="nav-link dropdown-toggle category-option" id="navbarDropdownBlog"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ".lesson" %>
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
          <% @lessons.each do |lesson| %>
            <%= link_to lesson.name,
              new_admin_category_lesson_word_path(@category, lesson),
              class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
      <div class="col-4 category-name">
        <%= @lesson.name %>
      </div>
    </div>
  <div><%= render "form" %></div>
</div>
