<%= provide :title, @category.name %>
<div class="container">
  <div class="offset-md-1 margin-header">
    <div class="lesson-header">
      <%= link_to t(".categories"), root_url, class: "lesson-header" %>
      <span>></span>
      <span><%= @category.name %></span>
      <span><%= link_to t(".new_lesson"), new_admin_category_lesson_path,
        class: "btn btn-success text-btn" %></span>
    </div>
  </div>
  <%= render "lesson" %>
</div>
