<% provide :title, t(".new_lesson") %>
<div class="container margin-header margin-footer">
  <h1 class="title"><%= t ".new_lesson" %></h1>
  <div>
    <div class="offset-lg-3">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle category-option" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ".category" %>
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
          <% @categories.each do |category| %>
            <%= link_to category.name, new_admin_category_lesson_path(category.id),
              class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5 category-name">
        <%= @category.name %>
      </div>
      <%= form_for([:admin, @category, @lesson],
        html: {class: "form-horizontal"}) do |f| %>
        <div class="form-group mb-4">
          <%= f.label :name, t(".name_lesson"), class: "col-md-4 control-label" %>
          <div class="col-lg-9">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-9">
            <%= f.submit t(".new_lesson"), class: "btn btn-success btn-register" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

