<% provide :title, t(".users") %>
<div class="container margin-header margin-footer">
  <h1 class="title"><%= t ".users" %></h1>
  <table class="table table-bordered table-hover">
    <tr>
      <th><%= t ".avatar" %></th>
      <th><%= t ".user_name" %></th>
      <th><%= t ".email" %></th>
      <% if current_user.role? %>
        <th><%= t ".delete" %></th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.avatar, class: "thumbnail" %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to user.email, user %></td>
        <td class="text-center bg-warning">
          <% if current_user.role? && !current_user?(user) %>
            <%= link_to t(".delete"), user, method: :delete,
              data: {confirm: t(".you_sure")} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <div"><%= will_paginate %></div>
</div>
