<% provide :title, @title %>
<div class="container bg-profile">
  <div class="row profile">
    <div class="col-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <%= image_tag @user.avatar %>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.username %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.email %>
          </div>
        </div>
        <div class="profile-userbuttons">
          <%= render "follow_form" if logged_in? %>
          <div class="stats">
            <%= render "shared/stats" %>
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to t(".setting"), edit_user_path(current_user),
                class: "nav-link glyphicon glyphicon-user" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="container margin-header margin-footer">
        <h3 class="title"><%= @title %></h3>
        <% if @users.any? %>
          <ul class="users follow">
            <%= render "users" %>
          </ul>
          <%= will_paginate %>
        <% end %>
      </div>
    </div>
  </div>
</div>
