<a href="<%= following_user_path(@user) %>" class="profile-follow">
  <%= t".following" %>
  <strong>
    <%= @user.following.count %>
  </strong>
</a> |
<a href="<%= followers_user_path(@user) %>" class="profile-follow">
  <%= t".followers" %>
  <strong>
    <%= @user.followers.count %>
  </strong>
</a>
