<div class="title"><%= @lesson.name %></div>
<div class="fields">
  <%= form_for :user_word, url: user_words_path do |f| %>
    <%= f.hidden_field :lesson_id, value: @lesson.id %>
    <% @words.each_with_index do |w, index| %>
      <li class="list-answer">
        <%= index + 1 %>)
        <%= w.question %>
      </li>
      <div class="mt-1 mb-3">
        <% w.answers.each do |ans| %>
          <li class="list-answer">
            <%= f.radio_button w.id, ans.id %>
            <%= ans.content %>
          </li>
        <% end %>
      </div>
    <% end %>
    <%= f.submit t(".submit"), class: "btn btn-primary" %>
  <% end %>
</div>
