<%= t ".user" %>: <%= link_to current_user.username, current_user %>
<br/>
<%= t ".result" %>: <div class="d-inline font-weight-bold text-primary point"><%= @word_correct_result %>/<%= @lesson.words.size %></div>
<div class="title"><%= @lesson.name %></div>
<div class="text-center">
  <% if @word_correct_result == @lesson.words.size %>
    <div class="text-success"><%= t ".lesson_success" %></div>
  <% else %>
    <div class="text-danger"><%= t ".lesson_failed" %></div>
  <% end %>
  </div>
<div class="fields">
  <%= form_for :user_word, url: user_words_path do |f| %>
    <% @words.each_with_index do |w, index| %>
      <li class="list-answer font-weight-bold">
        <%= index + 1 %>)
        <%= w.question %>
      </li>
      <div class="mt-1 mb-3">
        <% w.answers.each do |ans| %>
          <li class="list-answer ml-3">
            <% if @user_words[w.id][:answer_id] == ans.id  %>
              <%= f.radio_button w.id, ans.id, disabled: "disabled", checked: true %>
              <%= ans.content %>
            <% else %>
              <%= f.radio_button w.id, ans.id, disabled: "disabled" %>
              <%= ans.content %>
            <% end %>
          </li>
        <% end %>
        <% if @user_words[w.id][:status] %>
          <div class="correct_answer">
            <%= t ".correct_answer" %>
          </div>
        <% elsif @user_words[w.id][:answer_id] == nil %>
          <div class="wrong_answer">
            <%= t ".not_select_answer" %>
          </div>
        <% else %>
          <div class="wrong_answer">
            <%= t ".wrong_answer" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if @word_correct_result < @lesson.words.size %>
    <%= link_to t(".try_again"), edit_category_lesson_path, class: "btn btn-success" %>
  <% end %>
</div>
