<% provide :title, t(".word_list") %>
<div class="container mt-5 mb-3">
  <div class="text-sm-center jumbotron mb-3">
    <h1><%= t".word_list" %></h1>
    <h2>(<%= @lesson.name %>)</h2>
  </div>
  <%= form_tag category_lesson_words_path, method: :get do %>
    <div class="input-group mb-3">
      <%= text_field_tag :prefix, params[:prefix], placeholder: t(".search"),
        class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag t(".search"), name: :nil, class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  <div class="row text-center mx-auto">
    <div class="col-4 bg-secondary rounded">
    <h3><%= t".word_groups" %></h3>
      <div class="btn-group dropdown dropright">
        <button type="button" class="btn btn-primary"><%= t".alphabet" %></button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">A-B</a></br>
          <a class="dropdown-item" href="#">C-D</a></br>
          <a class="dropdown-item" href="#">E-F</a></br>
          <a class="dropdown-item" href="#">G-H</a></br>
          <a class="dropdown-item" href="#">I-J</a></br>
          <a class="dropdown-item" href="#">K-L</a></br>
          <a class="dropdown-item" href="#">M-N</a></br>
          <a class="dropdown-item" href="#">O-P</a></br>
          <a class="dropdown-item" href="#">Q-R</a></br>
          <a class="dropdown-item" href="#">S-T</a></br>
          <a class="dropdown-item" href="#">U-V</a></br>
          <a class="dropdown-item" href="#">W-X</a></br>
          <a class="dropdown-item" href="#">Y-Z</a></br>
        </div>
      </div>
    </div>
    <div class="col-8 bg-info rounded">
      <h3><%= t".words" %></h3>
      <%= will_paginate %>
      <div>
        <ul class="list-group mb-3">
          <% @words.each do |word| %>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <%= link_to word.name, "#",
                  class: "btn btn-link btn-sm text-left" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <%= will_paginate %>
    </div>
  </div>
</div>
