<table class="table table-bordered table-hover margin-header">
  <tr>
    <th><%= t ".avatar" %></th>
    <th><%= t ".user_name" %></th>
    <th><%= t ".email" %></th>
    <% if current_user.role? %>
      <th><%= t ".delete" %></th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.avatar, class: "thumbnail" %></td>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= link_to user.email, user_path(user) %></td>
      <% if current_user.role? && !current_user?(user) %>
        <td class="text-center bg-warning">
          <%= link_to t(".delete"), user, method: :delete,
            data: {id: user.id}, class: "destroy" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<div><%= will_paginate %></div>
